.outeer {
  position: relative;
  width: 100%;
  /* color: #efeee0; */
  color: white;
  /* background-color: rebeccapurple; */
  height: 200px;
  padding: 30px 50px 30px 0;
  /* padding-right: 50px; */
  margin-right: 20px;
}
.title {
  margin: 10px 0;
  font-weight: 100;
}
.ocean {
  border-radius: 25px;
  width: 170px;
}
p {
  font-size: 13px;
  font-style: normal;
}
.outer {
  /* background-color: aqua; */
  width: 100%;
  position: absolute;
  /* margin: 0 30px; */
}
.slide-img {
  position: relative;

  /* background-color: rebeccapurple; */
}
